<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Admin Panel</h2>
    <button id="menu-toggle">☰</button>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="config_cuenta.html">Cuenta</a></li>
      <li><a href="config_perfiles.html">Perfiles</a></li>
      <li><a href="config_seguridad.html">Seguridad</a></li>
      <li><a href="config_notificaciones.html">Notificaciones</a></li>
      <li><a href="config_ayuda.html">Ayuda y Reportes</a></li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <div class="user">
      <div class="user">
      <a href="dashboard.html">
      <img
        src="https://placehold.co/40x40/6c757d/ffffff?text=X"
        alt="Ícono de Usuario"
        style="cursor: pointer;"
      />
    </a>
      <p>Kevin Perez, Xavier Espinel, Karen Tenorio</p>
    </div>
  </div>
</aside>


