<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Menu</h2> 
    <button id="menu-toggle">☰</button>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li><a href="administrar_registros.html">Administrador ingresos/egresos</a></li>
      <li><a href="plan_ahorro.html">Plan de Ahorros</a></li>
      <li><a href="presupuestos.html">Ajuste de presupuestos</a></li>
      <li><a href="planificador_deudas.html">Planificador de deudas</a></li>
      <li><a href="logros.html">Logros y Recompensas</a></li>
      <li><a href="config_perfiles.html">Cambiar Perfil</a></li>
      <li><a href="config_cuenta.html">Configuración de Cuenta</a></li>
      <li><a href="config_ayuda.html">Ayuda</a></li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <div class="user">
      <a href="dashboard.html">
      <img
        src="https://placehold.co/40x40/6c757d/ffffff?text=X"
        alt="Ícono de Usuario"
        style="cursor: pointer;"
      />
    </a>
      <p>Kevin Perez, Xavier Espinel, Karen Tenorio</p>
    </div>
  </div>
</aside>
