<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Menu</h2> 
    <button id="menu-toggle">☰</button>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Administrador ingresos/egresos</a></li>
      <li><a href="#">Plan de Ahorros</a></li>
      <li><a href="#">Ajuste de presupuestos</a></li>
      <li><a href="#">Planificador de deudas</a></li>
      <li><a href="#">Logros</a></li>
      <li><a href="#">Cambiar Perfil</a></li>
      <li><a href="#">Configuración de Cuenta</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <div class="user">
      <img src="../assets/user.png" alt="Ícono de Usuario" />
      <p>Kevin Perez</p>
    </div>
  </div>
</aside>
